<ion-view view-title="{{navTitle}}" hide-nav-bar="true" cache-view="false">

<ion-header-bar  style=" height:75px;">
	<div class="MainHeader" align="center">
    	<div class="MainHeaderRight" ng-if="showMenuButton">
        	<div class="MainHeaderRightDiv" ng-click="toggleRightSideMenu()">
        		<img src="img/menu.png" style="width:100%" />
            </div>
        </div>
        <div class="MainHeaderLeft" ng-if="showResultsDiv" ng-click="showSearchFun()">
        	<div class="MainHeaderLeftDiv">
        		<img src="img/left_arrow.png" style="width:100%" />
            </div>
        </div>
    </div>
</ion-header-bar>


  <ion-content class="has-footer" style="margin-top:40px; overflow: hidden; height: 100%; " scroll="false">

  <!--
  <div ng-click="goBack()" style="position:absolute; top:10px; left:10px; z-index:1">
	<i class="ion-ios-arrow-back" style="font-size:40px;" ></i>
  </div>
  -->

  <!--
  <div ng-if="showResultsDiv" style="position:absolute; top:10px; right:10px; z-index:1" ng-click="showSearchFun()">
	<i class="ion-arrow-return-left" style="font-size:40px;"></i>
  </div>
  -->

	<div align="center">

	<!--
      <div class="BackgroundImage" >
          <img src="img/bck.jpg" style="width: 100%" />
      </div>
	-->



		<div style="position:relative; overflow: hidden; " >

		  <div class="LogoImageReport"  align="center">
			<img src="img/bookeep.png" style="width: 50%" />
		  </div>




		  <div ng-if="showSearchDiv">


			  <div style="width: 100%; margin-top: 10px;" align="center" ng-if="showSelectCompany">
				<div class="inputDiv">
				  <label class="item item-input item-select itemSelected">
					<div class="input-label itemSelectedLabel" >
						  בחר חברה
					</div>
					
					<select ng-model="searchfields.businessId" class="itemSelectedBox1"  >
					  <option  value=""> בחר/י עסק</option>
					  
					  <option  value="{{item.BusinessId}}" ng-repeat="item in clientsArray">{{item.BusinessName}}</option>
					</select>
				  </label>
				</div>
			  </div>

			  <div style="width: 100%; margin-top: 10px;" align="center">
				<div class="inputDiv">
				  <label class="item item-input item-select itemSelected"  >
					<div   style="height:38px; margin-top:-3px; text-align:center !important; width:100%;" class="itemSelectedBox"  >
					  <input type="text" onClick="(this.type='date')" onfocus="(this.type='date')" placeholder="תאריך התחלה" class="ion-input-select--large itemSelectedBoxDate" ng-model="searchfields.dtaeFrom">
					</div>
				  </label>
				</div>
			  </div>


			  <div style="width: 100%; margin-top: 10px;" align="center">
				<div class="inputDiv">
				  <label class="item item-input item-select itemSelected"  >
					<div   style="height:38px; margin-top:-3px; text-align:center !important; width:100%;" class="itemSelectedBoxDate"  >
					   <input type="text" onClick="(this.type='date')" onfocus="(this.type='date')" placeholder="תאריך סיום" class="ion-input-select--large itemSelectedBoxDate" ng-model="searchfields.dateTo">
					</div>
				  </label>
				</div>
			  </div>

			  <div style="width: 100%; margin-top: 10px; position: relative" align="center">
				<div style="width:90%;" ng-click="searchDate()">
				  <img src="img/search.png" style="width: 100%; height:50px; " >
				</div>
			  </div>

		  </div>


      <div class="tabs" ng-if="showResultsDiv">
        <div ng-click="setActiveTab(-1)" ng-class="ActiveTab == -1 ? 'tabSelected' : 'tabNotSelected'" >
          הוצאות
        </div>
        <div ng-click="setActiveTab(1)" ng-class="ActiveTab == 1 ? 'tabSelected' : 'tabNotSelected'" >
          הכנסות
        </div>
      </div>


      <div ng-if="showResultsDiv" class="resaultScroll" ng-style="scrollheight" >




        <!-- ng-if="ActiveTab == item.SugPkuda"    -->
         <div class="row100" ng-repeat="item in SortArray" ng-init="rowIndex = $index"  ng-if="ActiveTab == item.SugPkuda" >
             <div ng-click="changeCategory(item.id)">
                 <div class="tableCellRight">{{item.name}}</div>
                 <div class="tableCell" dir="rtl">{{ getTotal(item.id) | number:0}}</div>
             </div>

		  

            <div ng-if="$index > 0" class="blueLine"></div>
           <div  style="background-color:#CCCCCC !important; margin-top: 2px;" ng-repeat="i in reportArray"     ng-if="SelectCategory == item.id && i.SugPkuda == ActiveTab">
             <div ng-if="SelectCategory == i.ExpenseId && BarOpen" style="background-color:#f5f5f5 !important; overflow: hidden; width: 100%"  ng-click="openImage(i)" >
			       <div class="infoRight" > {{i.ExpenseName}}</div>
                   <div class="infoLeft" >{{i.TotalPrice}} &#8362;</div>
             </div>
           </div>

        </div>



      </div>
    </div>
  </div>


  </ion-content>

   <ion-footer-bar class="FooterBar" ng-if="showResultsDiv">
	

	  <div class="tabs1" ng-if="showResultsDiv">

      <div ng-click="setActiveTab(-1)" ng-class="ActiveTab == -1 ? 'tabSelected' : 'tabNotSelectedFooter'" >

		<div>סה"כ הוצאות</div>
		<div style="direction:rtl;">{{totalExpense | number:0}} ש"ח</div>
      </div>
      <div ng-click="setActiveTab(1)" ng-class="ActiveTab == 1 ? 'tabSelected' : 'tabNotSelectedFooter'" >
		<div>סה"כ הכנסות</div>
		<div style="direction:rtl;">{{totalProfit | number:0}} ש"ח</div>
      </div>
	  </div>
	  
	 <div style="direction:rtl; background-color:#000000; color:#fff; font-weight:bold; padding:3px;">
		<div >
		<span ng-if="calculateExpenses < 0">החזר מע"מ</span>
		<span ng-if="calculateExpenses > 0">תשלום מע"מ</span>
		<span>  {{totalVat | number:0 }} ש"ח</span>
		</div>
	 </div>	  

    </ion-footer-bar>


</ion-view>


<script id="templates/modal.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive">
            <h1 class="title"></h1>
            <button class="button button-clear button-primary" ng-click="modal.hide()">סגור מסמך</button>
        </ion-header-bar>
        <ion-content>
			<ion-scroll>
				<img src="{{currentItem.DocPath}}" style="width: 100%">
			</ion-scroll>

        </ion-content>
    </ion-modal-view>
</script>