<ion-view view-title="{{navTitle}}"  hide-nav-bar="true" cache-view="false">

<ion-header-bar  style=" height:75px;">
	<div class="MainHeader" align="center">
    	<div class="MainHeaderRight" ng-if="showMenuButton">
        	<div class="MainHeaderRightDiv" ng-click="toggleRightSideMenu()">
        		<img src="img/menu.png" style="width:100%" />
            </div>
        </div>

    </div>
</ion-header-bar> 


  <ion-content>

  
	<!--	
      <div class="BackgroundImage" >
          <img src="img/bck.jpg" style="width: 100%" />
      </div>
	-->

    <div style="position:relative; padding-top: 50px;" >
      <div class="LogoImage " align="center" ui-sref="app.scan()">
        <img src="img/uploadfile.jpg" style="width: 50%; margin-top:130px" class="mt30" />
      </div>

      <div class="LogoImage" align="center" ui-sref="app.report()">
        <img src="img/reportimage.jpg" style="width: 50%" />
      </div>
    </div>

  </ion-content>
</ion-view>
