	.custom-popup.popup-container .popup {
	  width:90%;
	}
	.popup-title {
		direction:rtl;
	}

  .mt30
  {
    margin-top:30px !important;
  }

/* tabs */

	.tabsDiv
	{
		overflow:hidden;
		width:100%;
		margin-top:0px;
		position:relative;
		padding:10px;
	}

	.tabsActive
	{
		float:right;
		width:50%;
		font-size:16px;
		color:#333;
		text-align:center;
		padding:10px;
		border-bottom:1px solid #900;
	}

	.tabsActive33
	{
		float:right;
		width:33%;
		font-size:16px;
		color:#333;
		text-align:center;
		padding:10px;
		border-bottom:1px solid #900;
	}

	.tabsNotActive
	{
		float:right;
		width:50%;
		font-size:16px;
		color:#CCC;
		border-bottom:1px solid #CCC;
		text-align:center;
		padding:10px;
	}

	.tabsNotActive33
	{
		float:right;
		width:33%;
		font-size:16px;
		color:#CCC;
		border-bottom:1px solid #CCC;
		text-align:center;
		padding:10px;
	}


  .BackgroundImage
  {
    position: absolute;
    height: 100%;
    top: 0px;
  }

  .LogoImage img
  {
    margin-top: 40px;
  }

  .LogoImageReport img
  {
    margin-top: 4px;
  }

  .InputType
  {
    border: 2px solid #0066a9 !important;
    background-color: transparent;
    width: 100%;
    padding: 10px 10px 10px 20px !important;
    font-size: 25px !important;
    border-radius: 35px;
    height:60px !important;
    text-align: center;
    margin-top: 20px;
  }

  .inputMainDiv
  {
    width: 100%;
  }

  .inputSecondDiv
  {
    width: 90%;
  }

  .forgotPass
  {
    text-align: center;
    color:#0066a9 ;
    direction: rtl;
    margin-top: 20px;
    font-size: 16px;
  }
	/*  selected*/


  .itemSelectedBox
  {
    color:#0066a9 !important;
    background-color:transparent !important;
    font-size: 16px !important;
  }

  .itemSelectedBox1
  {
    color:#0066a9 !important;
    background-color:transparent !important;
    font-size: 16px !important;
	max-width:100% !important;
  }

  .itemSelectedBoxDate
  {
    color:#0066a9 !important;
    background-color:transparent !important;
    font-size: 16px !important;
    text-align: center;
    padding-top: -13px;
  }


  .itemSelectedLabel
  {
    color:#0066a9 !important;
    font-size: 0px;
    height: 30px !important;
    border: none;
  }

  .itemSelected
  {
    background-color:transparent !important;
    border: none;
  }

  .itemSelectedBox
  {
    color:#0066a9 !important;
    background-color:transparent !important;
    border: none;
  }

  .inputDiv
  {
    width:90%;
    border: 2px solid #0066a9 !important;
    border-radius: 35px;
  }

  .tabs
  {
    overflow: hidden;
    width: 100%;
    position: relative;
    margin-top: 15px;
  }

  .tabs1
  {
    overflow: hidden;
    width: 100%;
    position: relative;
    margin-top: 0px;
  }


  .tabSelected
  {
    width: 50%;
    background-color:#0066a9;
    float: left;
    color: white;
    font-weight: bold;
  }

  .tabNotSelected
  {
    width: 50%;
    background-color:#838a8d;
    float: left;
    color: white;
    font-weight:200;
  }

  .tabNotSelectedFooter
  {
    width: 50%;
    background-color:#838a8d;
    float: left;
    color: white;
    font-weight:bold;
  }

  /* table */
  .row100
  {
	  width:100%;
	  overflow:hidden;
	  margin:0 auto;
    margin-top: -2px;
  }

  .tableCell
  {
	  width:50%;
	  float:right;
    text-align: left;
    padding:10px 20px;
    font-size: 18px;
    color:#0066a9;
    padding-left: 50px;
  }

  .tableCellRight
  {
    width:50%;
    float:right;
    text-align: right;
    padding:10px 20px;
    font-size: 18px;
    color:#0066a9;
  }

  .infoRight
  {
    background-color:#f5f5f5 !important;
    margin-top:2px;
    float: right;
    width: 57%;
    text-align: right;
    margin-right: 15px;
    font-size: 18px;
    color:#0066a9;
    padding:2px 4px;
  }

  .infoLeft
  {
    background-color:#f5f5f5 !important;
    margin-top:2px;
    float: left;
    width: 34%;
    direction: rtl;
    font-size: 18px;
    color:#0066a9;
    padding:2px 4px 2px 10px;
	text-align:left;
  }

  .blueLine
  {
    width: 95%;
    height: 1px;
    background-color:#0066a9; ;
  }

  .resaultScroll
  {
    overflow: scroll;
  }

  .FooterBar
  {
    margin: 0;
    padding: 0;
    text-align: center;
	display:block;
  }

  .popup-buttons .button
  {
	  border-radius: 17px;
  }

 .MainHeader
{
	width:100%;
	overflow:hidden;
	background-color:#fff;
}

.MainHeaderRight
{
	float:right;
	width:20%;
}

.MainHeaderRightDiv
{
	width:30px;
	margin-top:13px;
	margin-left:15px;
}

.MainHeaderLeft
{
	float:left;
	width:20%;
	margin-top:7px;
	margin-left:-10px;
}

.MainHeaderLeftDiv
{
	width:15px;
	margin-top:10px;
	margin-left:0px;
}

.popup
{
	background-color:#fff !important;
}


ion-footer-bar
{
	background-size: 0px !important;
}

.headerHeight1
{
	height:10vh;
}

.headerHeight2
{
	height:40px;

}

.ContentHeight1
{
	margin-top:calc(80px + 10vh)
}

.ContentHeight2
{
	margin-top:80px;

}

.setExpenseType
{
  overflow: hidden;
  width: 90%;
  margin-top: 10px;
}

.setExpenseTypeLeft
{
  float: left;
  width: 49%;
}

.setExpenseTypeRight
{
  float: right;
  width: 49%;
}

.bar-footer
{
	height: 67px !important;
}
